@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* header-section */
.header{
    height: 120px;
    width: 100%;
    background-color: #daac00;
}
.header .container {
    width: 1210px;
    height: 100%;
    margin: auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    cursor: pointer;
}
.header-manu .manu {
    display: flex;
    align-items: center;
}
.header-manu .manu li a {
    padding: 14px 21px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    color: #fff;
}
.search-itam {
    position: relative;
}
.search-field {
    height: 50px;
    width: 275px;
    border: none;
    background-color: #fcc302;
}
.search-field::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 0 0 20px;
    color: #fff;
}
.search-box {
    height: 50px;
    width: 70px;
    background-color: #00bec9;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon {
    color: #fff;
    font-size: 25px;

}
/* bennar-section */
.bennar {
    background-color: #fcc302;
    height: 780px;
    width: 100%;
}
.bennar .bennar-container {
    width: 1210px;
    height: 100%;
    margin: auto;
    padding: 0 25px;
    display: flex;
}
.bennar .bennar-container .bennar-content {
    margin: 190px 0;
}
.bennar .bennar-container .bennar-content .bennar-text h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 66px;
    line-height: 72px;
}
.bennar .bennar-container .bennar-content .bennar-text p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    line-height: 40px;
    margin-top: 45px;
}
.bennar .bennar-container .bennar-content .bennar-btn {
    margin-top: 52px;
    display: inline-block;
}
.bennar .bennar-container .bennar-content .bennar-btn .us {
    color: #fff;
    padding: 26px;
    background-color: #00bec9;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-right: 34px;
}
.bennar .bennar-container .bennar-content .bennar-btn .our {
    color: #fff;
    padding: 26px;
    border: 3px solid #fff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.bennar .bennar-container .bennar-img {
    margin-top: 86px;
}
/* section-3 */
.section-3 {
    height: 792px;
    width: 100%;
}
.section-3 .section-3-container {
    width: 1210px;
    height: 100%;
    margin: auto;
    padding: 0 25px;
    display: flex;
}
.section-3 .section-3-container .section-3-content {
    margin-top: 212px;
}
.section-3 .section-3-container .section-3-content .section-3-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 56px;
    color: #313243;
}
.section-3 .section-3-container .section-3-content .section-3-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    line-height: 40px;
    margin-top: 52px;
    color: #313243;
}
.section-3 .section-3-container .section-3-content .section-3-btn {
    display: inline-block;
    margin-top: 50px;
}
.section-3 .section-3-container .section-3-content .section-3-btn .our1 {
    padding: 26px;
    background-color: #fcc302;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.section-3 .section-3-container .section-3-img {
    margin-top: 140px;
}
/* Our Services */
.Our-Services {
    height: 1017px;
    width: 100%;
    background-color: #fcc302;
}
.Our-Services .Our-Services-container {
    width: 1210px;
    height: 100%;
    margin: auto;
    padding: 0 25px;
}
.Our-Services .Our-Services-container .Our-Services-text {
    text-align: center;
}
.Our-Services .Our-Services-container .Our-Services-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    color: #fff;
    padding-top: 50px;
}
.Our-Services .Our-Services-container .Our-Services-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    line-height: 39px;
    color: #fff;
    margin-top: 50px;
}
.Our-Services .Our-Services-container .Our-Services-img {
    display: flex;
    margin-top: 100px;
}
.Our-Services .Our-Services-container .Our-Services-img .services1-photo {
    width: 343px;
}
.Our-Services .Our-Services-container .Our-Services-img .services1-photo h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
.Our-Services .Our-Services-container .Our-Services-img .services1-photo p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.Our-Services .Our-Services-container .Our-Services-img .services2-photo {
    width: 343px;
    display: block;
    margin: auto;
}
.Our-Services .Our-Services-container .Our-Services-img .services2-photo h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
.Our-Services .Our-Services-container .Our-Services-img .services2-photo p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.Our-Services .Our-Services-container .Our-Services-img .services3-photo {
    width: 343px;
}
.Our-Services .Our-Services-container .Our-Services-img .services3-photo h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
.Our-Services .Our-Services-container .Our-Services-img .services3-photo p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
/* section-5 */
.section-5 {
    height: 793px;
    width: 100%;
}
.section-5 .section-5-container {
    width: 1210px;
    height: 100%;
    margin: auto;
    padding: 0 25px;
    display: flex;
}
.section-5 .section-5-container .section-5-img {
    margin-top: 140px;
}
.section-5 .section-5-container .section-5-content {
    text-align: right;
}
.section-5 .section-5-container .section-5-content .section-5-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 49px;
    line-height: 55px;
    margin-top: 220px;
    color: #313243;
}
.section-5 .section-5-container .section-5-content .section-5-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    line-height: 35px;
    margin-top: 52px;
    color: #313243;
}
.section-5 .section-5-container .section-5-content .section-5-btn .our2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 26px;
    background-color: #fcc302;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}
/* Get-Offer */
.Get-Offer {
    height: 1020px;
    width: 100%;
    background-color: #fcc302;
}
.Get-Offer .Get-Offer-container {
    width: 1210px;
    height: 100%;
    margin: auto;
    padding: 0 25px;
}
.Get-Offer .Get-Offer-container .Get-Offer-text {
    text-align: center;
}
.Get-Offer .Get-Offer-container .Get-Offer-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    color: #fff;
    padding-top: 66px;
}
.Get-Offer .Get-Offer-container .Get-Offer-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    line-height: 39px;
    margin-top: 40px;
    color: #fff;
}
.Get-Offer .Get-Offer-container .Get-Offer-img {
    display: flex;
    margin-top: 100px;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img1 {
    width: 341px;
    text-align: center;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    color: #fff;
    margin-top: 31px;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img1 .buy-btn1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #fff;
    padding: 18px 46px;
    background-color: #00bec9;
    border-radius: 50px;
    display: inline-block;
    margin-top: 23px;
}

.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img2 {
    width: 341px;
    text-align: center;
    margin: 0 auto;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    color: #fff;
    margin-top: 31px;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img2 .buy-btn2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #fff;
    padding: 18px 46px;
    background-color: #00bec9;
    border-radius: 50px;
    display: inline-block;
    margin-top: 23px;
}

.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img3 {
    width: 341px;
    text-align: center;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img3 p {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    color: #fff;
    margin-top: 31px;
}
.Get-Offer .Get-Offer-container .Get-Offer-img .Get-Offer-img3 .buy-btn3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #fff;
    padding: 18px 46px;
    background-color: #00bec9;
    border-radius: 50px;
    display: inline-block;
    margin-top: 23px;
}